
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #e3f2ec inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--base-black) !important;
}

.container-text h1 {
    width: 100%;
}

.form-base {
    width: 95%;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

    .form-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e3f2ec;
    border: 2px solid var(--base-green);
    border-radius: 8px;
}

.control-label {
    color: var(--base-white);
    background-color: var(--base-green);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 34px;
    font-weight: 500;
    font-size: 1.1rem;
}

.input-control {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    width: calc(100% - 154px);
    font-size: 1rem;
}

    .input-control:focus {
        outline: none;
    }

.form-group-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e3f2ec;
    border: 2px solid var(--base-green);
    border-radius: 8px;
}

.form-group-textarea .control-label {
    padding: 4px 8px;
    color: var(--base-white);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 0;
}

.textarea-control {
    resize: none;
    height: 200px;
    font-size: 1rem;
    padding: 4px 8px;
}

    .textarea-control:focus {
        outline: none;
    }

.control-danger {
    height: 34px;
    color: var(--base-red);
}

.button-create {
    padding: 8px 32px;
}