################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CipaFatecJahu/CopilotIndices/17.12.53.23981
