.container-title {
    position: relative;
    width: 90%;
}

.btn-history {
    position: absolute;
    right: 0;
    top: -12px;
    background-color: var(--base-gray);
    color: var(--base-white);
    padding: 6px 8px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin:8px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.icon-history {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('../../img/icon-history-white.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    transition:2s;
    margin: 0 4px;
}

.btn-history:hover .icon-history {
        transform:rotate(360deg)
    }


.title {
    font-size: 2.5rem;
    text-align: center;
    margin: 50px 0 30px 0;
    color: var(--base-black);
    font-weight: 500;
}

.btn-create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--base-green);
    border-radius: 50%;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--base-white);
}


.btn-create-border {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

    .btn-create-border:hover {
        border: 2px solid var(--base-green);
    }

.alert-green {
    position: absolute;
    color: var(--base-white);
    background-color: var(--base-green);
    margin-top: 0px;
    padding: 4px 14px;
    font-weight: 400;
    right: 64px;
    bottom: 12px;
    border-radius: 4px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 4px;
    background-color: transparent;
    background-image: url('../../img/icon-eye.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    margin-left: 16px;
}

    .details:hover {
        background-image: url('../../img/icon-eye-filled.png');
    }

.document-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 4px;
    background-color: transparent;
    background-image: url('../../img/icon-doc-view.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;

}

.document-view:hover {
    background-image: url('../../img/icon-doc-view-filed.png');
}

.switch {
    margin-right: 16px;
}

/*Filter Menu*/
.filter-base {
    position: relative;
    width: 90%;
}

.filter-group {
    width: 550px;
    height: 50px;
    position: absolute;
    left: -2px;
    bottom: -15px;
    background: var(--base-lightgray);
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inactive{
    color: var(--base-red);
}