@model CipaFatecJahu.Models.User;
@{
    ViewData["Title"] = "Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="meu-container">
    <div class="row">
        <div class="col-md-4">
            @{
                if (ViewBag.Message != null)
                {
                    <div class="p-1 mb-2 bg-success text-white">
                        @ViewBag.Message
                    </div>
                }
            }
        </div>
    </div>
    <div class="form-geral">
        <h1>Crie sua conta</h1>
        <hr />
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label fw-bold fs-4"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label fw-bold fs-4"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label fw-bold fs-4"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br />
            <div class="btn-container">
                <input type="submit" class="btn-meu" />
            </div>
            <input type="hidden" name="Role" value="@ViewBag.Role" />


        </form>
        <p>
            Já tem conta? <a asp-area="" asp-controller="Account" asp-action="Login">Clique aqui!</a>
        </p>
    </div>

</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
