@model CipaFatecJahu.Models.Document

@{
    ViewData["Title"] = "Nova ATA";
}
@section Styles {
	<link rel="stylesheet" href="~/css/form.css" />
	@* <link rel="stylesheet" href="~/css/Documents/createAta.css" /> *@
}
<section class="mainbody">
    <div class="form-geral">
        <form class="form-base" method="post" asp-action="AtaCreate" enctype="multipart/form-data" id="create-form">
            <div class="button-back">
                <a asp-action="Material"><img src="~/img/icon-cross-white.png" /></a>
            </div>
            <div class="form-header">
                <h1>Nova Ata</h1>
            </div>
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="control-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required/>
                    <span asp-validation-for="Name" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ScheduledDate" class="control-label">Data da Reunião</label>
                    <input asp-for="ScheduledDate" id="ScheduledDate" class="form-control" type="date" required/>
                    <span asp-validation-for="ScheduledDate" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mandatos</label>
                    <select asp-for="MandateId" class="form-control" asp-items="@(new SelectList(ViewBag.Mandates, "Value", "Text", null))" required>
                       <option value="" disabled selected>Selecione um mandato</option>
                    </select>
                    <span asp-validation-for="MandateId" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="attachment-input" class="control-label attachment-label">Anexar</label>
                        <input asp-for="Attachment" id="attachment-input" class="form-control attachment-input" type="file" accept="application/pdf" onchange="document.getElementById('attachment-input-text').value = this.files.length > 0 ? this.files[0].name : '';" hidden/>
                        <input disabled class="form-control" id="attachment-input-text"  />
                        <img src="~/img/icon-attachment.png" class="attachment-icon" alt="Attachment Icon" style="cursor:pointer;" onclick="document.getElementById('attachment-input').click();" />

                    </div>
                    <span asp-validation-for="Attachment" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="button button-green button-create " />
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    <script src="~/js/form.js" defer></script>
}
