@model CipaFatecJahu.Models.Document
@section Styles {
    <link rel="stylesheet" href="~/css/Shared/form.css" />
    <link rel="stylesheet" href="~/css/Documents/create.css" />
}
<div class="alert-material">
    <h1>Material não reconhecido!</h1>
    <a href="@Url.Action("Material", "Documents")">Voltar</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
