@model CipaFatecJahu.Models.Document

@{
    ViewData["Title"] = "Create";
}
@section Styles {
	<link rel="stylesheet" href="~/css/Shared/form.css" />
	<link rel="stylesheet" href="~/css/Documents/createAta.css" />
}
<section class="mainbody">
    <div class="form-geral">
        <form class="form-base" method="post" asp-action="CreateAta">
            <div class="form-header">
                <h1>Nova Ata</h1>
            </div>
            <div class="form-body secretary">
                <div asp-validation-summary="ModelOnly" class="control-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingDate" class="control-label"></label>
                    <input asp-for="MeetingDate" class="form-control" type="date" />
                    <span asp-validation-for="MeetingDate" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Attachment" class="control-label"></label>
                    <input asp-for="Attachment" class="form-control" />
                    <span asp-validation-for="Attachment" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MandateId" class="control-label"></label>
                    <input asp-for="MandateId" class="form-control" />
                    <span asp-validation-for="MandateId" class="control-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="button button-green" />
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
