@model CipaFatecJahu.Models.Document

@{
    ViewData["Title"] = "Materiais";
}

<h1>Selecione o Tipo de Material</h1>

<a asp-area="" asp-controller="Documents" asp-action="AtaCreate">Atas</a>
<a asp-area="" asp-controller="Documents" asp-action="CourseCreate" >Curso CIPA</a>
<a asp-area="" asp-controller="Documents" asp-action="ElectionCreate">Eleição</a>
<a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="2a7d3f2e-9b4e-4b8d-8b7e-2c3d3a5f6d9c">Estudos</a>
<a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="1a6d3f2e-8b4e-4b8d-8b7e-2c3d3a5f6d9c">Legislação</a>
<a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="0a5d3f2e-7b4e-4b8d-8b7e-2c3d3a5f6d9c">Mapa de Risco</a>
<a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="7e4c8f2d-9b4e-4b8d-8b7e-2c3d3a5f6d9c">Outros Documentos</a>
<a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="9a4d3f2e-6b4e-4b8d-8b7e-2c3d3a5f6d9c">SIPAT</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
