@model CipaFatecJahu.Models.Document

@{
    ViewData["Title"] = "Materiais";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Documents/material.css" asp-append-version="true" />
}
<h1>NOVO DOCUMENTO</h1>
<section class="card-section">
    <div class="card">
        <img src="~/img/icon-ata.png" alt="Nova Ata" />
        <a asp-area="" asp-controller="Documents" asp-action="AtaCreate">Ata</a>
    </div>
    <div class="card">
        <img src="~/img/icon-course.png" alt="Novo Curso" />
        <a asp-area="" asp-controller="Documents" asp-action="CourseCreate">Curso CIPA</a>
    </div>
    <div class="card">
        <img src="~/img/icon-election.png" alt="Nova Eleição" />
        <a asp-area="" asp-controller="Documents" asp-action="ElectionCreate">Eleição</a>
    </div>
    <div class="card">
        <img src="~/img/icon-study.png" alt="Novo Estudo" />
        <a asp-area="" asp-controller="Documents" asp-action="StudiesCreate">Estudos</a>
    </div>
    <div class="card">
        <img src="~/img/icon-legislation.png" alt="Nova Legislação" />
        <a asp-area="" asp-controller="Documents" asp-action="LegislationCreate">Legislação</a>
    </div>
    <div class="card">
        <img src="~/img/icon-map.png" alt="Novo Mapa" />
        <a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="0a5d3f2e-7b4e-4b8d-8b7e-2c3d3a5f6d9c">Mapa de Risco</a>
    </div>
    <div class="card">
        <img src="~/img/icon-sipat.png" alt="Nova SIPAT" />
        <a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="9a4d3f2e-6b4e-4b8d-8b7e-2c3d3a5f6d9c">SIPAT</a>
    </div>
    <div class="card">
        <img src="~/img/icon-other.png" alt="Novo Outros" />
        <a asp-area="" asp-controller="Documents" asp-action="Create" asp-route-material="7e4c8f2d-9b4e-4b8d-8b7e-2c3d3a5f6d9c">Outros</a>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
