@model CipaFatecJahu.Models.Document

@{
    ViewData["Title"] = "Materiais";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Documents/material.css" asp-append-version="true" />
}
<h1>NOVO DOCUMENTO</h1>
<section class="card-section">
    <a asp-area="" asp-controller="Documents" asp-action="AtaCreate">
        <div class="card">
            <img src="~/img/icon-ata.png" alt="Nova Ata" />
            <span>Ata</span>
        </div>
    </a>
    <a asp-area="" asp-controller="Documents" asp-action="CourseCreate">
        <div class="card">
            <img src="~/img/icon-course.png" alt="Novo Curso" />
            <span>Curso CIPA</span>
        </div>
    </a>
    <a asp-area="" asp-controller="Documents" asp-action="ElectionCreate">
        <div class="card">

            <img src="~/img/icon-election.png" alt="Nova Eleição" />
            <span>Eleição</span>
        </div>
    </a> 
    <a asp-area="" asp-controller="Documents" asp-action="StudiesCreate">
        <div class="card">
            <img src="~/img/icon-study.png" alt="Novo Estudo" />
            <span>Estudos</span>
        </div>
    </a>
    <a asp-area="" asp-controller="Documents" asp-action="LegislationCreate">
        <div class="card">
            <img src="~/img/icon-legislation.png" alt="Nova Legislação" />
            <span>Legislação</span>
        </div>
    </a> 
    <a asp-area="" asp-controller="Documents" asp-action="MapCreate">
        <div class="card">
            <img src="~/img/icon-map.png" alt="Novo Mapa" />
            <span>Mapa de Risco</span>
        </div>
    </a>
    <a asp-area="" asp-controller="Documents" asp-action="SipatCreate">
        <div class="card">
            <img src="~/img/icon-sipat.png" alt="Nova SIPAT" />
            <span>SIPAT</span>
        </div>
    </a>
    <a asp-area="" asp-controller="Documents" asp-action="OtherCreate">
        <div class="card">
            <img src="~/img/icon-other.png" alt="Novo Outros" />
            <span>Outros</span>
        </div>
    </a>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
