@using CipaFatecJahu.ViewModel
@model List<DocumentWithUserMandateMaterialViewModel>
@{
    ViewData["Title"] = "Pesquisa";
}
@section Styles {
    <link rel="stylesheet" href="~/css/history.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/Documents/members.css" />
}
@if (Model.Count() == 0)
{
    <div class="container-title">
        <h1 class="title">Não foram encontrados documentos!</h1>
    </div>
}
else if (Model[0].Material == "Membros")
{   
    <div class="container-title">
        <h1 class="title">@Model[0].Material - @Model[0].Mandate</h1>
    </div>
    <br />
    <div class="members-container">
        @foreach (var item in Model.Where(m => m.Position == "Presidente Designado"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Vice-Presidente Eleito"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Titular Eleito"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Titular Designado"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Suplente Eleito"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Suplente Designado"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
        @foreach (var item in Model.Where(m => m.Position == "Secretário"))
        {
            <partial name="_SearchMembers.cshtml" model="item" />
        }
    </div>
}
else
{
    <partial name="_SearchDocuments.cshtml" />
}