@model IEnumerable<CipaFatecJahu.Models.Document>

@{
    ViewData["Title"] = "Estudos";
}
@section Styles {
    <link rel="stylesheet" href="~/css/history.css" />
    <link rel="stylesheet" href="~/css/table.css" />
}
<div class="container-title">
    <h1 class="title">Estudos</h1>
</div>
<p style="text-align:justify;width:60%;font-weight:400">
    Nesta seção, disponibilizamos materiais de apoio e manuais que auxiliam na formação e capacitação dos membros da Comissão Interna de Prevenção de Acidentes (CIPA). Os documentos aqui reunidos abrangem desde orientações práticas até fundamentos legais, servindo como referência para o aprimoramento das atividades da comissão e a promoção de um ambiente de trabalho mais seguro e saudável.
</p>
<br />
<table class="table" style="width:60%">
    <thead>
        <tr>
            <th style="width:50px;"></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:200px;">
                Adicionado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/@item.Attachment" class="document-view" target="_blank"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.DocumentCreationDate))
                </td>
            </tr>
        }
    </tbody>
</table>
