@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIPA - Fatec Jahu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />  
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <script src="~/js/select2.js" defer></script>
    <script src="~/js/navigation.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-cipa">
                <a href="#">
                    <img class="header-cipa-logo" src="~/img/logo-cipa.png" alt="Logotipo da CIPA">
                </a>
            </div>
            <div class="header-fatec">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="header-fatec-logo" src="~/img/logo-fatec-jahu-branco.png" alt="Logotipo da FATEC JAHU">
                </a>
            </div>
            <div class="header-back">
                <a href="https://fatecjahu.edu.br/">
                    <img class="header-arrow" src="~/img/icon-arrow.png" alt="Voltar">
                    Voltar
                </a>
            </div>
        </div>
    </header>
    <nav>
        <form class="nav-search" asp-controller="Documents" asp-action="Search">

            <div class="nav-selects">
                <select class="nav-select" style="width: 45%" name="mandate" id="search-mandate">
                    <option value="0" disabled selected>Gestão</option>
                    <option value="1">2025/2026</option>
                    <option value="2">2024/2025</option>
                    <option value="3">2023/2024</option>
                    <option value="4">2022/2023</option>
                </select>

                <select class="nav-select" style="width: 45%" name="material" id="search-material">
                    <option value="0" disabled selected>Material</option>
                    <option value="9b927360-b531-4bb9-9e09-1a3093f8507a">ATAS</option>
                    <option value="d2f6b9f0-3b1a-4e4e-9b8e-1c3d2a4f7c8b">Curso CIPA</option>
                    <option value="7e4c8f2d-9b4e-4b8d-8b7e-2c3d3a5f6d9c">Documentos</option>
                    <option value="3b8d3f2e-1a1c-4e4e-9b8e-1c3d2a4f7c8b">Eleição</option>
                    <option value="0a5d3f2e-7b4e-4b8d-8b7e-2c3d3a5f6d9c">Mapa de Risco</option>
                    <option value="8c5d3f2e-5b4e-4b8d-8b7e-2c3d3a5f6d9c">Membros</option>
                    <option value="9a4d3f2e-6b4e-4b8d-8b7e-2c3d3a5f6d9c">SIPAT</option>
                </select>
            </div>
            <div class="nav-search-button">
                <button class="button-green" type="submit" id="search-submit"></button>
                <span class="search-alert" id="search-alert">
                    <img src="~/img/icon-alert.png" alt="ALERTA!">
                    Selecione os campos para continuar!
                </span>
            </div>
        </form>
        <div class="nav-links">
            <img src="~/img/icon-menu.png" id="nav-menu" alt="">
            <div class="nav-container" id="nav-container">
                <div class="nav-link">
                    <a class="underline-white" asp-area="" asp-controller="Documents" asp-action="Legislation">Legislação</a>
                </div>
                <div class="nav-link">
                    <a class="underline-white" asp-area="" asp-controller="Documents" asp-action="Studies">Estudos</a>
                </div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="nav-link last">
                        <a class="underline-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                }
                else
                {
                    <div class="nav-dropdown add-content">
                        <div class="nav-link">
                            <a class="underline-white" href="#">Adicionar</a>
                            <div class="nav-dropdown-content">
                                <a href="#">Documentos</a>
                                <a href="#">Gestão</a>
                                <a href="#">Membros da Gestão</a>
                            </div>
                        </div>
                    </div>

                     var navLinkClass = "nav-link" + (User.IsInRole("Secretário") ? " last" : "");
                    

                    <div class="@navLinkClass">
                        <a class="underline-white" href="#">Histórico</a>
                    </div>
                    @if (User.IsInRole("Administrador"))
                    {
                        <div class="nav-link last">
                            <a class="underline-white" asp-area="" asp-controller="Secretaries" asp-action="Index">Secretários</a>
                        </div>
                    }
                }

            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-info">
                Olá,&nbsp;<span>
                    @User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
                    
                </span>!
                <a asp-area="" asp-controller="Account" asp-action="Logout"></a>
            </div>
        }
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-div">
            <div class="footer-container">
                <img class="footer-logo" src="~/img/logo_cps_brasao.png" alt="Logotipo CPS e São Paulo">
                <div class="footer-contacts">
                    <div class="footer-contact">
                        <img class="footer-contact-logo" src="~/img/icon-quem-somos.png" alt="Quem Somos">
                        <a class="underline-white" asp-area="" asp-controller="About" asp-action="Index" alt="Fale Conosco">Quem Somos</a>
                    </div>
                    <div class="footer-contact">
                        <img class="footer-contact-logo" src="~/img/icon-fale-conosco.png" >
                        <a class="underline-white" asp-area="" asp-controller="Contact" asp-action="Index">Fale Conosco</a>
                    </div>
                </div>
            </div>
            <div class="footer-rights">
                © 2025 Fatec Jahu. Todos os direitos reservados.
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
