@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<br />
<section class="mainbody" style="flex-direction:column;min-height:60vh">
    <img src="~/img/error.png" alt="ErrorImage" />
<h2 style="color: var(--base-red)">Aconteceu um erro durante o processo.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong style="font-weight:500">Código do Erro:</strong> <code>@Model.RequestId</code>
    </p>
}

</section>