.alert-material {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-material h1{
    color: var(--base-red);
    margin: 30px
}

    .alert-material a {
        text-align: center;
        color: var(--base-red);
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 25px;
        border: 3px solid var(--base-red);
        padding: 12px 24px;
        text-decoration:none;
    }
        .alert-material a:hover {
            color: var(--base-white);
            background-color: var(--base-red);
        }
        .alert-material a:visited {
            color: var(--base-red);
        }
        .alert-material a:visited:hover {
            color: var(--base-white);
            font-weight: 600;
        }