@{
    ViewData["Title"] = "Home Page";
} 
@section Styles {
    <link rel="stylesheet" href="~/css/informationPages.css" />
}
<article class="mainbody">
    <div class="containers">
        <div class="container-text">
            <h1>Bem vindo ao Portal da CIPA!</h1>
            <p>Bem-vindo ao site da Comissão Interna de Prevenção de Acidentes (CIPA) da Fatec Jahu.</p>
            <p>
                Nosso objetivo central é identificar riscos, prevenindo acidentes e doenças decorrentes do trabalho ou das atividades acadêmicas e laboratoriais, promovendo permanentemente a segurança e a saúde de toda a comunidade fatecana.
            </p>
            <p>
                Este portal foi desenvolvido para centralizar informações relevantes sobre as atividades da CIPA, facilitando o acesso a atas de reuniões, calendários de eventos, documentos importantes e orientações de segurança. Nosso propósito é promover a transparência, incentivar a participação ativa de toda a comunidade acadêmica e fornecer recursos que contribuam para a conscientização e prevenção de acidentes nos ambientes da faculdade.
            </p>
        </div>
        <div class="background-image">
            <img src="~/img/logo-cipa.png" alt="Logotipo da CIPA no fundo">
        </div>
    </div>
</article>