:root{
    --base-red: #b20000;
    --base-gray: #666;
    --base-lightgray: #D9D9D9;
    --base-white: #f8f8f8;
    --base-black: #252525;
    --base-green: #009059;

    --feedback-green: #3ACF1F;
    --feedback-lightgreen: #80E96D;
    --feedback-red: #D32719;
    --feedback-lightred: #F95B4D;
    --feedback-brown: #B78718;
    --feedback-lightbrown: #DFB77B;

    --background: var(--base-white);
    --text-color: var(--base-black);

    --base-gray-gradient90: linear-gradient(90deg, rgba(102,102,102,1) 20%, rgba(248,248,248,1) 89%);
}

/* .dark-mode{
    --background: var(--black-base);
    --texto-color: var(--white-base);
}

.dark-mode h1{
    color: var(--azul-destaque-base);
}

.dark-mode .btn{
    background-color: var(--green-base);
    color: var(--black-base);
} */

