@import url('theme.css');

header {
    background-color: var(--base-vermelho);
    width: 100vw;
    height: 120px;
    overflow: hidden;
    box-shadow: 0em 0.5em 0.5em rgb(76 68 82 / 60%);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: 100vw;
    height: 120px;
}
.header-cipa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    background-color: var(--base-branco);
    border-radius: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0em 0em 1em rgb(76 68 82 / 100%);
    padding: 12px;
}

.header-cipa-logo {
    width: 100px;
}

.header-fatec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    margin-left: 32px;
}
.header-fatec-logo{
    width: 150px;
}

.header-back{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-back  a{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--base-branco);
    background-color: var(--base-preto);
    text-decoration: none;
    margin-left: auto;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 500;
}
.header-back  a:hover{
  box-shadow: 0em 0em 0.5em rgb(76 68 82 / 100%);
  scale: 1.1;
}

.header-arrow{
    height: 20px;
}