body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background: rgb(76, 0, 0);
    background: linear-gradient(180deg, rgba(76, 0, 0, 1) 39%, rgba(0, 0, 0, 1) 100%);
}

/* Auto complete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--base-lightgray) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--base-black) !important;
}

.alert {
    position: absolute;
    top: 30px;
    left: calc(50% - 110px);
    z-index: 2;
    background-color: var(--feedback-lightred);
    color: var(--feedback-red);
    font-weight: 500;
    padding: 4px 12px;
    border: 2px solid var(--feedback-red);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: max-content;
    display: none;
}

.alert img {
    width: 23px;
    padding-right: 4px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-painel {
    background: rgb(178, 0, 0);
    background: linear-gradient(180deg, rgba(178, 0, 0, 1) 40%, rgba(76, 0, 0, 1) 100%);
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-logo {
    height: 110px;
    width: 400px;
    background-color: var(--base-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1em 0em 2em 0em rgb(0, 0, 0, 50%);
    margin-bottom: 42px;
}

.container-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-cipa {
    width: 90px;
}

.logo-fatec {
    width: 180px;
    padding-left: 30px;
}

p,
b,
span {
    color: var(--base-white);
    width: 80%;
    align-self: center;
    font-size: 24px;
    text-align: center;
}

p {
    margin-bottom: 32px !important;
}

b {
    font-weight: 500 !important;
}

span {
    text-decoration: underline;
    font-weight: 500;
}


.right-painel {
    background: var(--base-lightgray);
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-home {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: var(--base-red);
    margin: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-home:hover {
    text-decoration: none;
    color: var(--base-red);
    scale: 1.2;
}

.back-home img {
    width: 50px;
}

.wellcome {
    color: var(--base-red);
    font-weight: 500;
    font-size: 2rem;
}

.form-control {
    width: 100%;
    margin-top: 12px;
}

.form-control:focus {
    outline: none;
}

.div-remember {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.label-remember {
    padding-left: 8px;
    margin: 0;
    font-weight: 400;
}

.input-remember {
    width: 16px;
    height: 16px;
    appearance: none;
    position: relative;
    border-radius: 4px;
    line-height: 0.9;
    background: #FFFFFF;
    display: flex;
}


input[type="checkbox"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: pre;
    content: " ";
}

input[type="checkbox"]:checked::before {
    content: "✓";
    color: var(--base-red);
    font-size: 16px;
    font-weight: 800;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-red {
    margin-top: 12px;
    padding: 4px 20px;
    font-size: 1.3rem;
    border: 3px solid var(--base-red);
    border-radius: 10px;
}

.water-mark {
    position: absolute;
    width: 250px;
    padding: 24px;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
    filter: grayscale(100%);
    opacity: 0.2;
}

.button-red:hover {
    border: 3px solid var(--base-red);
}

@media (min-width: 1500px) {
    .left-painel {
        max-width: 500px;
        max-height: 800px;
        min-height: 800px;
        height: auto;
    }

    .right-painel {
        max-width: 500px;
        max-height: 800px;
        min-height: 800px;
        height: auto;
    }
}

@media (max-width: 800px) {
    body {
        flex-direction: column-reverse;
    }

    .right-painel {
        width: 100%;
    }

    .left-painel {
        width: 0;
        min-height: 0;
        height: 0;
    }

    .left-content {
        width: 0;
        height: 0;
    }

    .container-logo {
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 2;
    }

    .container-text {
        display: none;
    }

}