@import url('select.css');

nav{
    width: 100%;
    height: 60px;
    background: var(--base-gray-gradient90);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 45px;
    background-color: var(--base-lightgray);
    border-radius: 4px;
    margin-left: 12px;
}
    

.select2-selection--single{
    border: none !important; 
    border-radius: 0 !important;
    background-color: var(--base-white) !important;
    border-bottom: 2px solid #9E9E9E !important;
}

.button-green{
    width: 50px;
    height: 30px;
    margin: 4px;
    background-image: url('../images/icon-search-white.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}


.button-green:hover{
    background-image: url('../images/icon-search-green.png');
}


.nav-search-button{
    position: relative;
}

.search-alert{
    position: absolute;
    bottom: -30;
    left: -290px;
    z-index: 1;
    background-color: var(--feedback-lightred);
    color: var(--feedback-red);
    font-weight: 500;
    padding: 4px 12px;
    border: 2px solid var(--feedback-red);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: max-content;
    display: none;

}

.search-alert img{
    width: 23px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-link{
    padding: 16px;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-image: linear-gradient(180deg, rgba(169, 133, 194, 0) 25%, rgb(255, 255, 255) 50%, rgba(76, 68, 82, 0) 75%) 1;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.nav-link a{
    font-weight: 400; 
}

.underline-white{
    text-shadow: 1px 2px 2px var(--base-gray);
}

.last{
    border: none; 
}

.user-info{
    margin-left: auto;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center}

.user-info span{
    font-weight: 500;
    color: var(--base-red);
}

.user-info a{
    width: 40px;
    height: 40px;
    margin:0 24px 0 16px;
    background-image:url('../images/icon-logout-gray.png'); ;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.user-info a:hover{
    background-image: url('../images/icon-logout-gray-filled.png');
}