@import url('theme.css');
@import url('select.css');
@import url('button.css');

nav{
    width: 100vw;
    height: 70px;
    background: var(--base-cinza-gradient90);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 52px;
    background-color: var(--base-cinzaclaro);
    border-radius: 4px;
    margin-left: 8px;
}


.select2-selection--single{
    border: none !important; 
    border-radius: 0 !important;
    background-color: var(--base-branco) !important;
    border-bottom: 2px solid #9E9E9E !important;
}

.button-submit{
    margin: 4px;
    background-image: url('../images/icon-search-white.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.button-submit:hover{
    background-image: url('../images/icon-search-green.png');
}

.select2-results__option--highlighted[aria-selected]{
    background-color: var(--base-cinzaclaro) !important;
}