@import url('select.css');

nav {
    width: 100%;
    height: 60px;
    background: var(--base-gray-gradient90);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 45px;
    background-color: var(--base-lightgray);
    border-radius: 4px;
    margin-left: 12px;
}

.nav-selects{
    width: 80% !important;
}

.select2-selection--single {
    border: none !important;
    border-radius: 0 !important;
    background-color: var(--base-white) !important;
    border-bottom: 2px solid #9E9E9E !important;
}

.button-green {
    width: 50px;
    height: 30px;
    margin: 4px;
    background-color: transparent;
    border-color: var(--base-green);
    background-image: url('../images/icon-search-green.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
        }


.button-green:hover {
    background-image: url('../images/icon-search-white.png');
    background-color: var(--base-green);
}


.nav-search-button {
    position: relative;
}

.search-alert {
    position: absolute;
    bottom: -30;
    left: -290px;
    z-index: 1;
    background-color: var(--feedback-lightred);
    color: var(--feedback-red);
    font-weight: 500;
    padding: 4px 12px;
    border: 2px solid var(--feedback-red);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: max-content;
    display: none;

}

.search-alert img {
    width: 23px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-links{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-links img{
    width: 50px;
    display: none;
}

.nav-links img:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

.nav-link {
    padding: 16px;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-image: linear-gradient(180deg, rgba(169, 133, 194, 0) 25%, rgb(255, 255, 255) 50%, rgba(76, 68, 82, 0) 75%) 1;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.nav-link a {
    font-weight: 400;
}

.underline-white {
    text-shadow: 0px 00px 5px var(--base-gray);;
}

.last {
    border: none;
}

.user-info {
    margin-left: auto;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center
}

.user-info span {
    font-weight: 500;
    color: var(--base-red);
}

.user-info a {
    width: 40px;
    height: 40px;
    margin: 0 24px 0 16px;
    background-image: url('../images/icon-logout-gray.png');
    ;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.user-info a:hover {
    background-image: url('../images/icon-logout-gray-filled.png');
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--base-green);
    top: 60px;
    left: 0px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.add-content{
    background: linear-gradient(180deg, rgba(178,0,0,0) 0%, rgba(0,144,89,1) 100%);

}

.nav-dropdown-content a {
    color: var(--base-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-content a:hover {
    background-color: var(--base-gray);
    color: var(--base-white);
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

@media (max-width: 800px) {

    
    .nav-links img{
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 12px;
    }
    .nav-link{
        display: none;
    }    
}

@media (max-width:500px) {
    nav {
        background: var(--base-gray);
    }
    .nav-links img{
        filter: brightness(0) invert(1);
    }
}

@media (max-width:460px) {
    nav{
        flex-direction: column;
        height: 120px;
        background: var(--base-gray-gradient90);
    }
    .nav-search{
        margin: 12px 0 0 0 ;
    }
    .nav-links{
        position: relative;
        width: 100%;
        height:60px;
    }
    .nav-links img{
        filter: none;
    }
}

@media(max-width: 400px){
    nav{
        flex-direction: row;
        height: 100px;
    }
    .nav-search{
        flex-direction: row;
        height: 80px;
        margin: 0 0 0 12px;
        border: 1px solid var(--base-gray);
    }
    .nav.selects{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-selects{
        width: 70% !important;
    }
    .select2-container{
        width: 90% !important;
        
    }
    .nav-search-button .button-green{
        height: 60%;
    }

    .nav-select{
        width: 100% !important; 
    }
    .nav-links{
        width: 30%;
        height: auto;
    }
}