@{
    ViewData["Title"] = "Quem Somos";
}
<link rel="stylesheet" href="~/css/informationPages.css" asp-append-version="true" />
<article class="mainbody">
    <div class="containers">

        <div class="container-text">
            <h1>Quem Somos?</h1>
            <p>
                A Comissão Interna de Prevenção de Acidentes (CIPA) da FATEC Jahu é um órgão composto por representantes eleitos pelos trabalhadores e indicados pela instituição, com o objetivo de promover a saúde e segurança no ambiente acadêmico e administrativo.
            </p>
            <p>
                Conforme estabelecido pela Norma Regulamentadora nº 5 (NR-5) do Ministério do Trabalho e Emprego, a CIPA atua na identificação de riscos, na implementação de medidas preventivas e na promoção de ações que visam à prevenção de acidentes e doenças relacionadas ao trabalho.
            </p>
            <p>
                Além disso, a comissão organiza eventos como a Semana Interna de Prevenção de Acidentes do Trabalho (SIPAT), buscando conscientizar a comunidade acadêmica sobre a importância da segurança e do bem-estar no ambiente de trabalho.
            </p>
        </div>
        <div class="background-image">
            <img src="~/img/logo-cipa.png" alt="Logotipo da CIPA no fundo">
        </div>
    </div>
</article>