@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('color.css');
@import url('animation.css');
@import url('button.css');
@import url('table.css');
@import url('switch.css');

@import url('navigation.css');
@import url('footer.css');
@import url('header.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--text-color);

    font-family: "Roboto", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    min-height: 80vh;
    width: 100%;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; 
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
.pb-3 {
    width: 98vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainbody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.error404{
    width: 300px;
}